<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engine test</title>
</head>
<body>
    <chatzip-renderer enable-editor controls="pointer">
        <chatzip-crosshair></chatzip-crosshair>
        <chatzip-palette></chatzip-palette>
        <chatzip-world-file-manager></chatzip-world-file-manager>
    </chatzip-renderer>
</body>
<style>
    body {
        margin: 0;
    }
</style>
</html>